@font-face {
  font-family: FiroSans;
  src: local("Alibaba PuHuiTi 2.0 1"),
  local("Alibaba PuHuiTi 1"),
  url(fonts/AlibabaPuHuiTi-2-55-Regular.ttf);
  font-display: fallback;
}
@font-face {
  font-family: FiroSans;
  src: local("Alibaba PuHuiTi 2.0 1"),
  local("Alibaba PuHuiTi 1"),
  url(fonts/AlibabaPuHuiTi-2-85-Bold.ttf);
  font-weight: bold;
  font-display: fallback;
}
:root {
  --theme-color: #9b1c2e;
  --link-color: #9b1c2e;
  --link-color-1: #ba2a45;
  --link-color-2: #7c1624;
  --background-color: white;
  --gray: #f4f4f4;
  font-size: max(calc(38.2vw / 38), 16px);
}
body {
  margin: 0;
  padding: 0 1.618rem 1.618rem;
  font-family: FiroSans, sans-serif;
  overflow-x: hidden;
}
::selection {
  background-color: var(--theme-color);
  color: white;
}
img:not(.complete) {
  background-color: var(--gray);
  background-clip: content-box;
}
nav, body > main {
  max-width: 38rem;
  margin: 0 auto;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: calc(1.618rem - 1.3125rem);
  margin-bottom: calc(2.618rem - 1.3125rem);
}
article {
  line-height: 1.618;
  overflow-wrap: break-word;
}
article > header {
  margin-bottom: 2.618rem;
}
.article-header-bar {
  font-size: .618em;
}
article:not(.index) img, article video {
  max-width: 100%;
  min-width: 38.2%;
  margin: .309rem auto;
  display: block;
  height: auto;
}
@media screen and (min-width: 61.484rem) {
  article:not(.index) img, article video {
    border-radius: 1.309rem;
  }
}
@media screen and (min-width: 41.236rem) {
  article:not(.index) img:not(.small) {
    width: min(161.8%, 100vw);
    max-width: initial;
    margin-left: max(-30.9%, calc((38rem - 100vw) / 2));
  }
}
article a img {
  display: initial;
  vertical-align: middle;
}
code {
  font-family: Consolas, monospace;
}
iframe {
  width: 100%;
  height: 40em;
}
.iframe-wrapper {
  height: 21.375em;
  overflow: hidden;
  background-color: var(--gray);
}
@media screen and (max-width: 41.236rem) {
  article:not(.index) img, .iframe-wrapper, article video {
    margin-left: -1.618rem;
  }
  article:not(.index) img, article video {
    max-width: calc(100% + 3.236rem);
    width: calc(100% + 3.236rem);
  }
  .iframe-wrapper {
    width: calc(100% + 3.236rem);
    height: 56.25vw;
  }
}
@media (hover: hover) {
  a:active {
    border-radius: .125rem;
  }
}
article a {
  color: var(--link-color);
  text-decoration: none;
}
@media (hover: hover) {
  article a:hover {
    color: var(--link-color-1);
  }
  article a:active {
    color: white;
    background-color: var(--link-color-2);
  }
}
article > footer {
  margin: 2.618em 0 1em;
}
article > footer .menu {
  font-weight: initial;
  justify-content: space-evenly;
}
article > footer .menu li {
  margin: 0 !important;
}
h1, h2 {
  text-align: left;
}
hr {
  border: none;
  margin: 1.618rem 0;
  height: .0625rem;
  background-color: var(--gray);
}
h1 {
  font-size: 2.618rem;
  margin: 0;
}
h2 {
  font-size: 1.618rem;
  margin: 1.618em 0 1em;
}
h3 {
  font-size: 1rem;
  margin: 1.618em 0 1em;
}
p {
  margin: 1em 0;
  display: flow-root;
}
p, li {
  text-align: justify;
}
ul, ol {
  padding-inline-start: 2.5rem;
}
blockquote {
  margin-inline-start: 2.5rem;
  margin-inline-end: 2.5rem;
}
article[lang|='en'] p, article[lang|='en'] li {
  text-align: initial;
}
.logo img {
  display: block;
  margin-left: -1.3125rem;
  background: initial;
  height: 5.25rem;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: flex;
}
.menu li:not(:first-child) {
  margin-left: 1.618em;
}
.menu a {
  text-decoration: none;
  color: var(--link-color);
}
@media (hover: hover) {
  .menu a:hover {
    color: var(--link-color-1);
  }
  .menu a:active {
    color: white;
    background-color: var(--link-color-2);
  }
}
.posts {
  list-style: none;
  padding: 0;
  font-size: 1.214em;
  position: relative;
}
.posts:before {
  content: '';
  border-left: .0625rem dashed;
  position: absolute;
  left: calc(1.309rem - .03125rem);
  top: -2rem;
  bottom: 0;
  margin: auto;
  pointer-events: none;
}
.posts li {
  margin: 1.618rem 0;
  display: flex;
}
.posts li:first-child {
  margin-top: 0;
}
.posts li a {
  font-weight: bold;
}
.posts li a:visited, .menu a:visited {
  color: inherit;
}
@media (hover: hover) {
  .posts li a:visited:active, .menu a:visited:active {
    color: white;
    background-color: black;
  }
  @media (prefers-color-scheme: dark) {
    .posts li a:visited:active, .menu a:visited:active {
      color: black;
      background-color: white;
    }
  }
}
.posts-icon-wrapper {
  margin-right: 1.618rem;
  position: relative;
}
.posts li:last-child .posts-icon-wrapper {
  background-color: var(--background-color);
  z-index: 1;
  position: relative;
}
.posts-icon {
  position: absolute;
  left: calc(1.309rem);
  transform: translate(-50%);
  background-color: var(--background-color);
  z-index: 1;
  position: relative;
  box-shadow: 0 0 0 .242874rem var(--background-color);
}
.posts-iconfiro img {
  width: 1.618em;
  height: 1.618em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--background-color);
  box-shadow: 0 0 0 .551874rem var(--background-color);
}
.posts-body {
  flex: 1;
  text-align: initial;
}
.posts-description {
  font-size: .618em;
  text-align: justify;
}
.posts .lidate {
  margin: 1.618rem 0;
}
.posts .lidate .posts-body {
  font-weight: bold;
}
noscript {
  display: none;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    background-color: black;
    --link-color: #ff2e4c;
    --link-color-1: #ff2e4c;
    --gray: #0b0b0b;
  }
  body {
    color: white;
  }
  .iframe-wrapper {
    background-color: var(--gray);
  }
  .iframe-wrapper iframe {
    visibility: hidden;
  }
  .iframe-wrapper.loaded iframe {
    visibility: visible;
  }
  noscript {
    display: block;
  }
}
