body {
  margin: 0;
  padding: 0 1.618rem 1.618rem;
  font-family: sans-serif;
}
::selection {
  background-color: #9b1c2e;
  color: white;
}
nav, body > main {
  max-width: 40rem;
  margin: 0 auto;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: calc(1.618rem - 21px);
  margin-bottom: calc(2.618rem - 21px);
}
article {
  line-height: 1.618;
  overflow-wrap: break-word;
}
article > header {
  margin-bottom: 2.618rem;
  text-align: initial;
}
.article-header-bar {
  font-size: .618em;
}
article img {
  max-width: 100%;
  margin: 0 auto;
  padding: 0.309rem 0;
  display: block;
  height: auto;
}
article a img {
  display: initial;
  vertical-align: middle;
}
iframe {
  width: 100%;
  height: 40em;
}
.iframe-wrapper {
  height: 22.5em;
  overflow: hidden;
}
@media (max-width: 43.236rem) {
  article img, .iframe-wrapper {
    margin-left: -1.618rem;
  }
  article img {
    max-width: calc(100% + 3.236rem);
  }
  .iframe-wrapper {
    width: calc(100% + 3.236rem);
    height: 56.25vw;
  }
}
article a {
  color: #9b1c2e;
  text-decoration: none;
}
@media (hover: hover) {
  article a:hover {
    color: #ba2a45;
  }
  article a:active {
    color: white;
    background-color: #7c1624;
  }
}
h1, h2 {
  text-align: left;
}
hr {
  border: none;
  margin: 1.618rem 0;
  height: 1px;
  background-color: #f4f4f4;
}
h1 {
  font-size: 2.618rem;
  margin: 0;
}
h2 {
  font-size: 1.618rem;
  margin: 1.618em 0 1em;
}
h3 {
  font-size: 1rem;
  margin: 1.618em 0 1em;
}
p {
  margin: 1em 0;
  text-align: justify;
}
.logo img {
  display: block;
  margin-left: -21px;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #9b1c2e;
  display: flex;
}
.menu li:not(:first-child) {
  margin-left: 1.618em;
}
.menu a {
  text-decoration: none;
  color: inherit;
}
@media (hover: hover) {
  .menu a:hover {
    color: #ba2a45;
  }
  .menu a:active {
    color: white;
    background-color: #7c1624;
  }
}
.posts {
  list-style: none;
  padding: 0;
  font-size: 1.214em;
  position: relative;
}
.posts:before {
  content: '';
  border-left: 1px dotted #cfcccc;
  position: absolute;
  left: calc(1.309rem - .5px);
  top: -2rem;
  bottom: 0;
  margin: auto;
}
.posts li {
  margin: 1.618em 0;
  display: flex;
}
.posts li:first-child {
  margin-top: 0;
}
.posts li a {
  font-weight: bold;
}
.posts-date, .posts-description {
  font-size: .618em;
}
.posts-date {
  margin-right: 1rem;
  color: #3d3939;
  line-height: 2.618;
}
.posts-date-text {
  background-color: white;
  z-index: 1;
  position: relative;
}
.posts-body {
  flex: 1
}
.posts-description {
  text-align: justify;
  font-style: italic;
  color: #3d3939;
}
