<footer>
  <p>
    <a target="_self" href="donate.html">捐助</a>
    <% if (pageTyle !== 'index') { %>｜ <a target="_blank" href="https://firo.org/zh-cn/">官网</a><% } %>
    <!-- ｜ <a target="_blank" href="https://twitter.com/firo_cn">推特</a> -->
    <!-- ｜ <a target="_self" href="seed.html">节点</a> -->
    <span id="latest_block" style="display: none;">｜ <a href="https://explorer.firo.org/" target="_blank">高度：<span id="latest_block_value"></span></a></span>
    <span id="latest_price" style="display: none;">｜ <a href="https://charts.cointrader.pro/charts.html?coin=FIRO%3AUSD" target="_blank">价格：<span id="latest_price_value"></span></a></span>
  </p>
  <p>🏴‍☠️ Firo 中文社区 2016-2023</p>
</footer>
<script>
  const latestBlock = document.querySelector('#latest_block')
  const latestBlockValue = document.querySelector('#latest_block_value')
  const latestPrice = document.querySelector('#latest_price')
  const latestPriceValue = document.querySelector('#latest_price_value')

  const updateInfos = function () {
    fetch(`https://explorer.firo.org/insight-api-zcoin/blocks`)
      .then(res => res.json())
      .then(json => {
        height = json.blocks[0].height
        latestBlockValue.innerHTML = height
        latestBlock.style.display = 'inline'
      })
    fetch('https://explorer.firo.org/insight-api-zcoin/currency')
      .then(res => res.json())
      .then(json => {
        latestPriceValue.innerHTML = `$${json.data.zcoin_usd}`
        latestPrice.style.display = 'inline'
      })
  }

  updateInfos()
  setInterval(() => { updateInfos() }, 10000)
</script>
