<footer>
  <p>
    <a target="_blank" href="https://firo.org/zh-cn/">官网</a>
    ｜ <a target="_blank" href="https://twitter.com/firo_cn">推特</a>
    ｜ <a target="_blank" href="https://t.me/firo_zh">电报</a>
    <span id="latest_block" style="display: none;">｜ 高度：<span id="latest_block_value"></span></span>
    <span id="latest_price" style="display: none;">｜ 价格：<span id="latest_price_value"></span></span>
  </p>
  <p>© Firo 中文社区 2016-2022</p>
</footer>
<script>
  const latestBlock = document.querySelector('#latest_block')
  const latestBlockValue = document.querySelector('#latest_block_value')
  const latestPrice = document.querySelector('#latest_price')
  const latestPriceValue = document.querySelector('#latest_price_value')

  const updateInfos = function () {
    if (location.href.includes(siteDomain)) {
      fetch(`getblockcount.txt?_=${new Date().getTime()}`)
        .then(res => res.text())
        .then(height => {
          latestBlockValue.innerHTML = height
          latestBlock.style.display = 'inline'
          onUIUpdated()
        })
    } else {
      requestAnimationFrame(() => {
        latestBlockValue.innerHTML = '888888'
        latestBlock.style.display = 'inline'
        onUIUpdated()
      })
    }
    fetch('https://explorer.firo.org/insight-api-zcoin/currency')
      .then(res => res.json())
      .then(json => {
        latestPriceValue.innerHTML = `$${json.data.zcoin_usd}`
        latestPrice.style.display = 'inline'
        onUIUpdated()
      })
  }

  updateInfos()
  setInterval(() => { updateInfos() }, 10000)

</script>
