<div>
  <noscript>⚠️ <strong>视频需要浏览器启用 JavaScript 功能</strong></noscript>
  <p class="iframe-wrapper">
    <iframe onload="setTimeout(function () { document.querySelector('.iframe-wrapper').classList.add('loaded') }, 100)" src="<%= iframe %>" importance="high" title="视频嵌入页面" frameborder="0" allowfullscreen scrolling="no" width="640" height="480"></iframe>
  </p>
</div>
