<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Firo 中文社区</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="https://firo.org/img/meta/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://firo.org/img/meta/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://firo.org/img/meta/favicon-16x16.png">
  </head>
  <body>
    <header>
      <a href="/" class="logo"><img src="Firo logo dark.svg" alt="Firo" height="84"></a>
      <ul class="menu">
        <li><a href="index.html">文章列表</a></li>
      </ul>
    </header>
    <main>
      <article>
        <ul class="posts">
          <% posts.forEach(post => { %>
            <li><div class="post-date"><%= post.date %></div><a href="<%= post.filename.replace(/\.md$/, '.html') %>"><%= post.title %></a></li>
          <% }) %>
        </ul>
      </artiel>
    </main>
  </body>
</html>
