<blockquote id="band0" class="line-band">迄今为止，现金是最主要的匿名交易系统。 ——&#xFEFF; &#xFEFF;《<a href="1993-03-09-a-cypherpunk-s-manifesto.html" class="link">密&#xFEFF;码&#xFEFF;朋&#xFEFF;克&#xFEFF;宣&#xFEFF;言</a>》</blockquote>
